<h1>Welcome to do the To-Do list Application</h1>

<a href="/tasks/new">Add a new task</a>
<br/>
<a href="/tasks">View all current tasks</a>
<br/>
<a href="/categories">View Category List</a>
<br/>
<a href="/categories/new">Add a New Category</a>